<include file="Index/header"/>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--面包屑导航.row-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__URL__/sheck">视频审核列表</a>
						</li>
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							视频详情
						</li>
					</ol>
				</div>
			</div>
			<!--表单.row-->
			<div class="margin clearfix">
				<div class="detailed_style clearfix">
					<div class="shop_logo">
						<img src=""/>
					</div>
					<ul class="shop_content clearfix">
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺类型:</label>
						  <span class="info">{$menu.store_type_id}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
						<li class="shop_name">
						  <label class="label_name">店铺名称:</label>
						  <span class="info">{$menu.store_shop_name}</span>
						</li>
					</ul>
				</div>
			</div>
	</div>
</div>
<script>
	var SCOPE = {
		'success_jump_url':'__URL__/check',
</script>
<include file="Index/footer"/>
