<!--头尾分离    忽略错误信息 运行可用-->

<include file="Index/header" />
<div id="wrapper">
	<include file="Index/nav" />
	<div id="page-wrapper">
		
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							商铺审核
						</li>
					</ol>
				</div>
			</div>
	<!--.row面包屑导航-->
	
	<!------------------------------------------->
	<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#movie1" data-toggle="tab">待审核商铺</a></li>
				<li><a href="#movie2" data-toggle="tab">已审核商铺</a></li>
			</ul>
			<div class="tab-content" style="margin-top: 20px;">
				<div class="tab-pane active" id="movie1">
					<div class="row">
		            	<div class="col-md-12 ">
		            		<div class="table-responsive">
		            			<form id="zyn-form-list">
		            				<table class="table table-bordered table-hover zyn-table-list">
		            					<thead>
		            						<tr class="btn-primary">
		            							<td>商铺名</td>
		            							<td>发布人</td>
		            							<td>发布时间</td>
		            							<td>操作</td>
		            						</tr>
		            					</thead>
		            					<tbody>
		            						<volist name='store' id='vo' >
			            						<tr>
			            							<td>{$vo.store_shop_name}</td>
			            							<td>{$vo.store_user_id}</td>
			            							<td>{$vo.send_datetime}</td>
			            							<td>
			            								<span  style="width: 60px;" class=" btn btn-xs btn-default"  id='zyn-span-edit' attr-id="{$vo.store_shop_id}&num={$vo.store_version_number}">查看详情</span>
			            							</td>
			            						</tr>
			            					</volist>
		            					</tbody>
		            				</table>
		            			</form>
		            			<nav>
									<ul class="pagination">
										{$pageRes}
									</ul>
								</nav>
		            		</div>
		            	</div>
           			 </div>
				</div>
				<div class="tab-pane" id="movie2">
					<div class="row">
		            	<div class="col-md-12 ">
		            		<div class="table-responsive">
		            			<form id="zyn-form-list">
		            				<table class="table table-bordered table-hover zyn-table-list">
		            					<thead>
		            						<tr class="btn-primary">
		            							<td>商铺名</td>
		            							<td>发布人</td>
		            							<td>状态</td>
		            							<td>审核时间</td>
		            							<td>操作</td>
		            						</tr>
		            					</thead>
		            					<tbody>
		            						<volist name='store2' id='vo' >
			            						<tr>
			            							<td>{$vo.store_shop_name}</td>
			            							<td>{$vo.store_user_id}</td>
			            							<td>{$vo.store_check_state_id}</td>
			            							<td>{$vo.store_check_time}</td>
			            							<td>
			            								<span style="width: 60px;" class=" btn btn-xs btn-default" id='zyn-span-edit' attr-id="{$vo.store_shop_id}&num={$vo.store_version_number}">详情</span>
			            							</td>
			            						</tr>
			            					</volist>
		            					</tbody>
		            				</table>
		            			</form>
		            			<nav>
									<ul class="pagination">
										{$pageRes2}
									</ul>
								</nav>
		            		</div>
		            	</div>
            		</div>
				</div>
			</div>
			
		</div>
	<!--------------------------------------------->
			<!--<div class="row">
            	<div class="col-md-12 ">
            		<div class="table-responsive">
            			<form id="zyn-form-list">
            				<table class="table table-bordered table-hover zyn-table-list">
            					<thead>
            						<tr class="success">
            							<td>公告标题</td>
            							<td>发布人</td>
            							<td>发布时间</td>
            							<td>操作</td>
            						</tr>
            					</thead>
            					<tbody>
            						<volist name='ancheckstate' id='vo' >
	            						<tr>
	            							<td>{$vo.announcement_title}</td>
	            							<td>{$vo.announcement_sender_id}</td>
	            							<td>{$vo.send_datetime}</td>
	            							<td>
	            								<span class="btn btn-primary" id='zyn-span-edit' attr-id="{$vo.announcement_id}&num={$vo.announcement_version_number}">查看详情</span>
	            							</td>
	            						</tr>
	            					</volist>
            					</tbody>
            				</table>
            			</form>
            			<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
            		</div>
            	</div>
            </div>-->
		</div>
	</div>
</div>	

<script>
	var SCOPE = {
		'edit_url':'__URL__/edit'
//		'add_url':'__ACTION__',
//		'success_jump_url':'__URL__/index',
//		'ajax_upload_swf':'__JS__/vendor/uploadify/uploadify.swf',
//		'ajax_upload_url':'__URL__/ajaxUploadImage', 
	};
</script>
		
<include file="Index/footer" />


