<include file="Index/header"/>
		
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							员工列表
						</li>
					</ol>
				</div>
			</div>
            <div class="row zyn-div-search">
            	<div class="col-md-4">
	            	<form action="__ACTION__" method="post" class="form-horizontal">
	            		<div class="input-group">
	            			<span class='input-group-addon'>搜索</span>
	            				<input type="text" name="search" id="" value="" placeholder="请输入员工姓名" style="line-height: 28px;width: 248px;"/>
	            			<div class="input-group-btn">
		            			<button type="submit" class="btn btn-primary">
		            				<span class='glyphicon glyphicon-search'></span>
		            			</button>
	            			</div>
	            			<div style="padding-left: 15px;"> 
					            <button type="button" class="btn btn-primary" onclick="location.href = '__URL__/index'">刷新</button>
					        </div>
	            		</div>
	            	</form>
	            </div>
	            <div class="col-sm-4 col-sm-offset-1">
					<button type="button" class="btn btn-group btn-primary" id="zyn-btn-add">新增员工</button>
				</div>
            </div>
            <br/>
            <div class="row">
            	<div class="col-md-12">
            		<div class="table-responsive">
            			<form id="zyn-form-list">
            				<table class="table table-bordered table-hover zyn-table-list">
            					<thead>
            						<tr class="btn-primary">
            							<td>员工姓名</td>
            							<td>员工工号</td>
            							<td>重置密码</td>
            							<td>权限分配</td>
            							<td colspan="2">操作</td>
            						</tr>
            					</thead>
            					<tbody>
            						<volist name='acommunityinfos' id='vo' >
	            						<tr>
	            							<td style="display: none;">{$vo.limit_id}</td>
	            							<td>{$vo.hospital_user_name}</td>
	            							<td>{$vo.hospital_user_no}</td>
	            							<td>
	            								<input id="zyn-span-psw" attr-id="{$vo.hospital_user_id}" value="重置密码" type="button" class="btn btn-default btn-xs"/>
	            							</td>
	            							<td>
	            							    <input attr-id="{$vo.hospital_user_id}" value="权限分配" type="button" class="btn btn-default btn-xs" onclick="assign11(this)" data-toggle="modal" data-target="#xx-modal-assign"/>
	            							</td>
	            							<td>
	            								<input data-toggle="modal" data-target="#Modal" value="编辑" attr-id="{$vo.hospital_user_id}" type="button" class="btn btn-default btn-xs" onClick="editClick(this)"/>
	            							</td>
	            							<td>	
												<input id="zyn-span-trash" attr-id="{$vo.hospital_user_id}" value="删除" type="button" class="btn btn-default btn-xs"/>
	            							</td>
	            						</tr>
	            					</volist>
            					</tbody>
            				</table>
            			</form>
            			<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
            		</div>
            	</div>
            </div>
		</div>
	</div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">请输入修改员工姓名</h4>
			</div>
			<div class="modal-body">
				<form id="zyn-form-submit" class="form-horizontal">
					<div class="form-group">
						<label for="zh-input-video_type_name" class="control-label col-sm-3">员工姓名:</label>
						<div class="col-sm-7">
							<input id="zh-video_type_name" class="form-control" type="text" 
							    name="video_type_name" placeholder="请输入员工姓名"/>
						</div>
						<input type="hidden" id="zh-input-id" name="id"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="update1()">确定</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-10">
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="xx-modal-assign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
									</button>
					<h4 class="modal-title" id="myModalLabel">
										分配权限
									</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<form id="zyn-form-assign-auth" class="form-inline">
								<table>
									<tr>
										<volist name="menus" id="pvo" key="k">
											<if condition="$pvo['limit_num'] eq 0">
												<td>
													<label>
														<input type="checkbox"  value="{$pvo.limit_tyoe_id}" name="limit_tyoe_id[{$k}]"/>
														{$pvo.limit_event}
													</label>
												</td>
												<tr class="nav nav-second-level">
													
												</tr>
											</if>
											<if condition="$pvo['limit_num'] eq 1">
												<td>
													<label>
														<input type="checkbox"  value="{$pvo.limit_tyoe_id}" name="limit_tyoe_id[{$k}]"/>
														{$pvo.limit_event}
													</label>
												</td>
												<tr class="nav nav-second-level">
													<volist name="menus" id="vo" key="k">
														<if condition="$vo['limit_num'] eq $pvo['limit_tyoe_id']">
															<td>
																<label>
																	<input type="checkbox"  value="{$vo.limit_tyoe_id}" name="limit_tyoe_id[{$k}]"/>
																	{$vo.limit_event}
																<label>
															</td>
														</if>
													</volist>
												</tr>
											</if>
										</volist>
									</tr>
								</table>
								<input name="hospital_user_id" type="hidden" value="" id="user-id-quanxian"/>
							</form>
						</div>
					</div><!--.row表单-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
										关闭
									</button>
					<button type="button" class="btn btn-primary" id="zyn-btn-assign-auth">
										提交更改
									</button>
					</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'set_status_url':'__URL__/setStatus',
		'set_password_url':'__URL__/setPsw',
		'success_jump_url':'__ACTION__',
		'addn_url':'__URL__/addn',
		'assign_auth_url':'__URL__/assignAuth',
	};
	function editClick(obj){
	var id = $(obj).attr("attr-id");
	var tds = $(obj).parent().parent().find('td');
	$('#zh-input-id').val(id);
    $('#zh-video_type_name').val(tds.eq(1).text());  
	$().modal('show');
}
 function update1() {  
    //获取模态框数据  
    var id = $('#zh-input-id').val();
    var name = $('#zh-video_type_name').val();
    Dialog.confirm('是否确定提交数据',function(){
    $.ajax({  
        type: "post",  
        url:SCOPE.addn_url,  
        data: "id=" + id + "&video_type_name=" + name,  
        dataType: 'json',  
        contentType: "application/x-www-form-urlencoded; charset=utf-8",  
        success: function(result){  
				//链接服务器其成功
//				console.log(typeof result);
				if(result.status == SUCCESS){
					//成功
					result.msg,location.href =SCOPE.success_jump_url;
				}else{
					 Dialog.error(result.msg);
					
				}
			},
		});
    });  
};

function assign11(obj){
		$("input:checkbox").prop('checked',false);
		var objpp = obj.parentNode.parentNode;
		var id = $(obj).attr('attr-id');
//		var objpp = obj.parentNode.parentNode;
		var msg = {};
		var postData = {};
		for (var i=0 ; i<objpp.children.length;i++){
				msg[i] = objpp.children[i].innerText;
			}
		postData['hospital_user_id'] = id;
		postData['limit_id'] = msg[0];
		var limit_ids = postData['limit_id'].split(',');
		for (var i in limit_ids){
			$("input:checkbox[value='"+limit_ids[i]+"']").prop('checked',true);
		}
		$('#user-id-quanxian').val(id);
		console.log(id);
	}
</script>	
<include file="Index/footer"/>