<include file="Index/header"/>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--面包屑导航.row-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__URL__/index">视频浏览</a>
						</li>
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							编辑视频
						</li>
					</ol>
				</div>
			</div>
			<!--表单.row-->
			<div class="col-sm-10">
				<form id="zyn-form-add" class="form-horizontal">
					<input type="hidden" name="video_id" value="{$menu.video_id}" />
					<input type="hidden" name="video_num" value="{$menu.video_num}" />
					<input type="hidden" name="video_check_state" value="{$menu.video_check_state}" />
					<div class="form-group">
						<label for="zh-input-video_title" class="control-label col-sm-3">视频标题:</label>
						<div class="col-sm-4">
							<input id="zh-input-video_title" class="form-control" type="text" 
							    name="video_title" placeholder="请输入视频标题" value="{$menu.video_title}"/>
						</div>
						<div class="col-sm-5">
							<p class="zyn-p-validate-result" attr-validate="video_title"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="zh-textarea-video_introduction" class="control-label col-sm-3">视频简介:</label>
						<div class="col-sm-4">
							<textarea class="js-editor" id="zh-textarea-video_introduction" name="video_introduction" rows="8" style="width: 258px;">{$menu.video_introduction}</textarea>
						</div>
						<div class="col-sm-5">
							<p class="zyn-p-validate-result" attr-validate="video_introduction"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="zh-input-video_length" class="control-label col-sm-3">视频时长:</label>
						<div class="col-sm-6">
							<label class="control-label">{$menu.video_length}</label>
						</div>
					</div>
					<div class="form-group">
						<label for="zyn-input-send_datetime" class="control-label col-sm-3">发布时间:</label>
						<label for="zyn-input-send_datetime" class="control-label">&nbsp;&nbsp;&nbsp;{$sent_time}</label>
					</div>
					<div class="form-group">
						<label for="zyn-input-sender_id" class="control-label col-sm-3">发布人:</label>
						<label for="zyn-input-sender_id" class="control-label">&nbsp;&nbsp;&nbsp;{$user}</label>
					</div>
					<div class="form-group">
						<label for="zyn-input-video_type_id" class="control-label col-sm-3">视频类型:</label>
						<div class="col-sm-4">
							<select class="form-control" name="video_type_id" style="width: 263px;">
								<volist name="type" id='vo'>
									<option value="{$vo.video_type_id}" <if condition="$vo['type_state'] eq -1">style="display:none ;"</if>>{$vo.video_type_name}</option>
								</volist>
						    </select>
						</div>
						<div style="padding-left: 263px;">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增类型</button>
						</div>
					</div>
						<div class="row">
							<div class="col-sm-2 col-sm-offset-4">
								<button type="button" id="zyn-btn-add-submit" class="btn btn-primary">更新</button>
								<input type="button" class="btn btn-group" onclick="javascript:history.back(-1);" value="取消">
							</div>
						</div>
					</form>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
							    <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							        <h4 class="modal-title" id="myModalLabel">请输入新增视频类型</h4>
							    </div>
							    <div class="modal-body">
							        <form id="zyn-form-submit">
							        	<textarea name="type-name" rows="2" cols="75"></textarea>
							        </form>
							    </div>
							    <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							        <button type="button" class="btn btn-primary" id="zyn-btn-submit">提交</button>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__URL__/update',
		'success_jump_url':'__URL__/index',
		'type_url':'__URL__/typeName',
	};
</script>
<include file="Index/footer"/>

