<link rel="stylesheet" href="__CSS__/functional.css" />
<include file="Index/header"/>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--面包屑导航.row-->
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							<a href="__URL__/check">视频审核列表</a>
						</li>
						<li class="active">
							<i class="fa fa-fw fa-edit"></i>
							视频审核
						</li>
					</ol>
				</div>
			</div>
			<!--表单.row-->
			<div class="row">
				<video id="myVideo" width="700" height="270" controls style="position: absolute;margin-left: 15px;">
					<source src="http://www.kphp.org/html5/kphp.mp4" type="video/mp4">
					<source src="http://www.kphp.org/html5/kphp.ogv" type="video/ogg">
					kphp框架提醒您：您的浏览器不支持 video 标签。
				</video>
		        <div class="col-sm-4 col-sm-offset-8">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-4">视频标题:</label>
							<label class="control-label">{$menu.video_title}</label>	
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">视频时长:</label>
							<label class="control-label">{$menu.video_length}</label>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">发布时间:</label>
							<label class="control-label">{$menu.send_datetime}</label>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">发布人:</label>
							<label class="control-label">{$menu.hospital_user_name}</label>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">视频类型:</label>
							<label class="control-label">{$menu.video_type_name}</label>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">审核状态:</label>
							<label class="control-label">{$menu.video_check_state}</label>
							<button type="button" class="btn btn-danger btn-xs"
						        data-container="body" data-toggle="popover" data-placement="bottom"
						        data-content="{$menu.error_message}" <if condition="$menu['video_check_state'] neq 未通过">style="display:none ;"</if>>
						        驳回原因
						    </button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" style="border: 1px solid #dddddd;position: relative;margin-top: 35px">
						<label class="label_name" style="background-color: #FFF;position: absolute;top: -20px;font-size: 18px;left: 20px !important;padding: 5px 20px;">视频简介</label>
						<div style="margin: 20px;line-height: 24px;">
						{$menu.video_introduction}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="padding-left: 15px;">
				<form id="zyn-form-submit" style="display: none;">
			        <textarea name="error_message" rows="4" cols="143" placeholder="请输入驳回原因"></textarea>
			        <input type="hidden" name="id" value="{$menu.video_id}" />
			        <input type="hidden" name="num" value="{$menu.video_num}"/></br>
			        <div class="col-sm-6 col-sm-offset-3">
				        <button type="button" class="btn btn-primary  col-md-offset-3" id="zyn-btn-submit">提交</button>
				        <button id="zyn-btn-abolish" type="button" class="btn btn-group" >取消</button>
			        </div>
			     </form>
		</div>
		<div id="zyn-div-submit" style="display: outo;" class="col-sm-4 col-sm-offset-4">
			<form id="zyn-form-addtwo">
				<input type="hidden" name="idtwo" value="{$menu.video_id}"/>
				<input type="hidden" name="numtwo" value="{$menu.video_num}"/>
			</form>
			<button <if condition="$menu['video_check_state'] eq 已通过 || $menu['video_check_state'] eq 未通过">style="display:none ;"</if> type="button" id="zyn-btn-add-submittwo" class="btn btn-primary">通过</button>
			<button id="zyn-btn-reject" <if condition="$menu['video_check_state'] eq 已通过 || $menu['video_check_state'] eq 未通过">style="display:none ;"</if> type="button" class="btn btn-danger">驳回</button>
			<input type="button" class="btn btn-group" onclick="javascript:history.back(-1);" value="返回上一页">
		</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__JS__/flowplayer.min.js" ></script>
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'type_url':'__URL__/add',
		'success_jump_url':'__URL__/check',
	};
	
    $('#zyn-btn-reject').click(function(){
        $('#zyn-form-submit').attr('style','display:auto');
        $('#zyn-div-submit').attr('style','display:none');
    });
    $('#zyn-btn-abolish').click(function(){
        $('#zyn-form-submit').attr('style','display:none');
        $('#zyn-div-submit').attr('style','display:auto');
    });
    
    $(function () { 
		$("[data-toggle='popover']").popover();
	});
</script>
<include file="Index/footer"/>



