<include file="Index/header"/>
<style>
	td{
		text-align: center;
	}
</style>
<div id="wrapper">
	<include file="Index/nav"/>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!--面包屑导航.row-->
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb">
						<li>
							<i class="fa fa-fw fa-table"></i>
							视频浏览
						</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" action="__ACTION__" method="post">
						<div class="form-group">
							<div class="col-sm-2">
								<select name="zyn-select-user" id="zyn-select-choosse" class="form-control">
									<option value="0" selected="selected">我的视频</option>
									<option value="1" >全部</option>
								</select>
							</div>
							<div class="col-sm-2">
								<select name="zyn-select-type" id="zyn-select-type" style="display:auto ;" class="form-control">
									<option value="0" selected="selected">全部状态</option>
									<option value="1">未审核</option>
									<option value="2">已通过</option>
									<option value="3">未通过</option>
								</select>
							</div>
							<div class="col-md-4">
				            	<form action="__ACTION__" method="post" class="form-horizontal">
				            		<div class="input-group">
				            			<span class='input-group-addon'>搜索</span>
				            				<input type="text" name="search" id="" value="" placeholder="请输入视频标题" style="line-height: 28px;width: 248px;"/>
				            			<div class="input-group-btn">
					            			<button type="submit" class="btn btn-primary">
					            				<span class='glyphicon glyphicon-search'></span>
					            			</button>
				            			</div>
				            			<div style="padding-left: 15px;">
				            				<button type="button" class="btn btn-primary" onclick="location.href = '__URL__/index'">刷新</button>
				            			</div>
				            		</div>
				            	</form>
				            </div>
				            <div class="col-sm-2 col-sm-offset-1">
								<button type="button"  id="zyn-btn-add" class="btn btn-primary">发布视频</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-12">
					<div class="table-responsive">
						<form id="zh-form-list">
							<table width="100%" class="table table-bordered table-hover zyn-table-list" id="tableID">
								<thead>
									<tr class="btn-primary">
										<td width="200px" align="left">视频标题<span class="glyphicon glyphicon-sort"></span></td>
										<td>版本号</td>
										<td>发布时间<span class="glyphicon glyphicon-sort"></span></td>
										<td>审核状态</td>
										<td width="200px" align="left">驳回原因</td>
										<td colspan="3">操作</td>
									</tr>
								</thead>
								<tbody>
									<volist name="articles" id="vo">
									    <tr>
									    	<td style="display: none;">{$vo.video_id}</td>
									    	<td>{$vo.video_title}</td>
											<td>{$vo.video_num}</td>
											<td>{$vo.send_datetime}</td>
											<td>{$vo.video_check_state}</td>
											<td>{$vo.error_message}</td>
											<td>
												<input id="zyn-span-history" onclick="clickHistory(this)" value="所有版本" type="button" class="btn btn-default btn-xs"/>
											</td>
											<td>
											    <input id="zyn-span-edit" attr-id="{$vo.video_id}&num={$vo.video_num}" value="详情" type="button" class="btn btn-default btn-xs"/>
											 </td>
											 <td>
												<input id="zyn-span-delete1" onclick="clickDelete(this)" value="删除" type="button" class="btn btn-default btn-xs"/>
											</td>
									    </tr>
									</volist>
								</tbody>
							</table>
						</form>
						<nav>
							<ul class="pagination">
								{$pageRes}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var SCOPE = {
		'add_url':'__URL__/add',
		'edit_url':'__URL__/edit1',
		'set_status_url':'__URL__/setStatus',
		'success_refresh_url':'__ACTION__',
	};
	$("#zyn-select-type").on('change',function(){
		var selectedValue = $(this).val();
		$.ajax({
			type:"post",
			url:"__URL__/getData",
			async:true,
			data:{'selectedValue':selectedValue},
			dataType:'json',
			success:function(data){
				console.log(data);
				$('#tableID tbody').remove();
				var sRows = '';
				for( var i in data ){
					var sRow = '<tr>'+
									'<td style="display: none;">'+data[i].video_id+'</td>'+
									'<td>'+data[i].video_title+'</td>'+
									'<td>'+data[i].video_num+'</td>'+
									'<td>'+data[i].send_datetime+'</td>'+										
									'<td>'+data[i].video_check_state+'</td>'+
//									'<td>'+data[i].check_user_id+'|'+getRoleById+'</td>'+
									'<td>'+data[i].error_message+'</td>'+
									'<td>'+
										'<input id="zyn-span-history" onclick="clickHistory(this)" value="所有版本" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+	
									'<td>'+	
									    '<input id="zyn-span-edit" onclick="clickCheck(this)" value="详情" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+    
									'<td>'+    
										'<input id="zyn-span-delete1" onclick="clickDelete(this)" value="删除" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+
								'</tr>';
					sRows += sRow;
				}
				$('#tableID').append('<tbody></tbody>');
				$('#tableID tbody').html(sRows);
				sortList()
			}
		});
	});
	$('#zyn-select-choosse').click(function(){
        if(($(this).val()) == 0){
        	$('#zyn-select-type').attr('style','display:auto');
     	    $('#zyn-select-type').val(0);
        }
        if(($(this).val()) == 1){	
        	$('#zyn-select-type').attr('style','display:none');
        }
    });
    $("#zyn-select-choosse").on('change',function(){
		var selectedValue = $(this).val();
		$.ajax({
			type:"post",
			url:"__URL__/getSourse",
			async:true,
			data:{'selectedValue':selectedValue},
			dataType:'json',
			success:function(data){
				console.log(data);
				$('#tableID tbody').remove();
				var sRows = '';
				for( var i in data ){
					var sRow = '<tr>'+
									'<td style="display: none;">'+data[i].video_id+'</td>'+
									'<td>'+data[i].video_title+'</td>'+
									'<td>'+data[i].video_num+'</td>'+
									'<td>'+data[i].send_datetime+'</td>'+											
									'<td>'+data[i].video_check_state+'</td>'+
//									'<td>'+data[i].check_user_id+'|'+getRoleById+'</td>'+
									'<td>'+data[i].error_message+'</td>'+	
									'<td>'+
										'<input id="zyn-span-history" onclick="clickHistory(this)" value="所有版本" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+	
									'<td>'+	
									    '<input id="zyn-span-edit" onclick="clickCheck(this)" value="详情" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+    
									 '<td>'+   
										'<input id="zyn-span-delete1" onclick="clickDelete(this)" value="删除" type="button" class="btn btn-default btn-xs"/>'+
									'</td>'+
								'</tr>'
					sRows += sRow;
				}
				$('#tableID').append('<tbody></tbody>');
				$('#tableID tbody').html(sRows);
				sortList()
			}
		});
	});
	function clickEdit(obj){
		if($("#zyn-select-choosse").find("option:selected").val() == 1){
			Dialog.error('全部视频无法编辑和删除');
				return;
		}
		else {
			var objpp = obj.parentNode.parentNode;
			var msg = [];
			for (var i=0 ; i<objpp.children.length;i++){
				msg[i] = objpp.children[i].innerText;
			}
			if(msg[3] == '已通过'){
				Dialog.error('通过后的视频无法编辑和删除');
				return;
			}
			var id = msg[0];
		location.href = SCOPE.edit_url+'?id='+id;	
		}
	}
	function clickDelete(obj){
	if($("#zyn-select-choosse").find("option:selected").val() == 1){
		Dialog.error('全部视频无法编辑和删除');
			return;
	}
	else {
			var objpp = obj.parentNode.parentNode;
			var msg = [];
			for (var i=0 ; i<objpp.children.length;i++){
				msg[i] = objpp.children[i].innerText;
			}
			if(msg[4] != '未审核'){
				Dialog.error('不是未审核的视频无法删除');
				return;
			}
			var id = msg[0];
			var num = msg[2];
		var url = SCOPE.set_status_url;;
		var postData = {};
		postData['id'] = id;
		postData['num'] = num;	
		postData['state'] = '关闭';
		Dialog.confirm('是否确认删除数据？',function(){
			$.ajax({
				type:"post",
				url:url,
				async:true,
				data:postData,
				dataType:'json',
				success:function(result){
					if(result.status == SUCCESS){
						return result.msg,location.href =SCOPE.success_refresh_url;
					}
					return Dialog.error(result.msg);
				}
			});
		});	
	}
	}
	function clickCheck(obj){
		var objpp = obj.parentNode.parentNode;
		var id = objpp.children[0].innerText;
		var num = objpp.children[2].innerText;
		location.href = '__URL__/edit1'+'?id='+id+'&num='+num;
	}
	function clickHistory(obj){
		var objpp = obj.parentNode.parentNode;
		var id = objpp.children[0].innerText;
		var postData={};
		location.href = '__URL__/history'+'?id='+id;	
	}
	function sortList(){
  		$("#tableID").trigger("updateCache");
  		$("#tableID").tablesorter({headers:{8:{sorter:false},7:{sorter:false},6:{sorter:false},5:{sorter:false},4:{sorter:false},2:{sorter:false}}});
	};
	$(function(){
	$("#tableID").tablesorter({headers:{8:{sorter:false},7:{sorter:false},6:{sorter:false},5:{sorter:false},4:{sorter:false},3:{sorter:false},1:{sorter:false}}});
	});
</script>
<include file="Index/footer"/>
